<h1 style="text-align: center; background-color: yellow;">This is Part-4</h1>
<!-- <button (click)="colorcall(1)">Green</button>
<button (click)="colorcall(2)">Red</button>
<button (click)="colorcall(3)">Black</button>
<button (click)="colorcall(4)">Yellow</button><div style="margin-top: 50  px;">
<input type="text" (input)="handleInput($event)" name="" id="">

  @if(color == 1) { <div
    style="height: 100px;width: 100px;background-color: rgb(11, 216, 35);"></div>} @else if (color == 2) { <div style="height: 100px;width: 100px;background-color: red;"></div>} 
  @else if (color ==
  3) { <div style="height: 100px;width: 100px;background-color: black;"> </div>} @else if (color == 4) { <div
    style="height: 100px;width: 100px;background-color: yellow;">
  </div>}
</div>  -->

<!-- <hr>
<h1>Switch Case</h1> -->

<!-- <button (click)="handlecolor("red")">Color Chaneg </button>
  -->

<!-- 
  <button (click)="handlecolor('red')">Red</button>
  <button (click)="handlecolor('green')">Green</button>
  <button (click)="handlecolor('yellow')">Yellow</button>
  <button (click)="handlecolor('blue')">Blue</button>
  <input type="text"  placeholder="enter Color" id="" (input)="changecolor($event)" name="">
 -->

<!-- @switch (color) {

  @case ('red') {
    <h1 style="background-color: red;">Red Color</h1>
  }
  @case ('green') {
    <h1 style="background-color: green;">Green Color</h1>
  }
  @case ('yellow') {
    <h1 style="background-color: yellow;">Yellow Color</h1>
  } 
  @case ('blue') {
    <h1 style="background-color: blue;">Blue Color</h1>
  }
  @default {
    <h1 style="background-color: black;">No Color Match</h1>
  }

} -->


<h1>For Loops</h1>

@for (user of users;track user) {
  <h3>{{user}}</h3>
}

<hr>

@for (user of students;track user;let id=$index) {
  <h3>{{id+1}}--{{user.name}}--{{user.age}}--{{user.city}}</h3>
  <button (click)="getName(user.name)">Get name</button>
}

